{% load static %}

<div class="container-fluid bg-dark">
    <div class="bg-dark text-light p-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h3>CG International University</h3>
                <address class="text-secondary">
                    City: Raipur<br>
                    Country: India<br>
                    Email: cgintuniversity@gmail.com
                </address>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h3>Legal</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'terms_and_conditions' %}" class="text-light">Terms of Service</a></li>
                    <li><a href="{% url 'approval' %}" class="text-light">Approval</a></li>
                    <li><a href="{% url 'rti' %}" class="text-light">RTI</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h3>Other</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'about' %}" class="text-light">About Us</a></li>
                    <li><a href="{% url 'board_members' %}" class="text-light">Board Members</a></li>
                    <li><a href="{% url 'director_message' %}" class="text-light">Director's Message</a></li>
                    <li><a href="{% url 'vision_and_mission' %}" class="text-light">Vision & Mission</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h3>Courses</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'courses' %}" class="text-light">Graduate Programs</a></li>
                    <li><a href="{% url 'courses' %}" class="text-light">Postgraduate Programs</a></li>
                    <li><a href="{% url 'courses' %}" class="text-light">PHD Programs</a></li>
                    <li><a href="{% url 'courses' %}" class="text-light">Certificate Courses</a></li>
                    <li><a href="{% url 'courses' %}" class="text-light">Online Learning</a></li>
                </ul>
            </div>
        </div>
        <hr class="border-light">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p class="mb-0">&copy; 2024 CG International University. All rights reserved.</p>
            </div>
            <!-- <div class="col-lg-6 col-md-12 text-lg-right">
                <p class="mb-0">Developed by <a href="#" class="text-light">Aakash Panwar</a></p>
            </div> -->
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>