{% load static %}
{% load livereload_tags %}

<!DOCTYPE html>
<html lang="en">

{% livereload_script %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    {% include 'main_cg_site/global/nav_bar.html' %}
    <!-- Add Data Here -->
    <div class="background-image">
        <div class="blurOverlay" style="padding: 80px; ">

                <h1>CG INTERNATIONAL UNIVERSITY</h1>
                <p><span class="highlight">CG INTERNATIONAL UNIVERSITY</span> offers globally-accepted standards of
                    multiple
                    educations
                    in the fields of Engineering, Computer Science, Arts, Advertising, Dance, Digital Marketing, Fashion
                    Design,
                    Acting, and Animation.</p>
                <p><span class="highlight">CG INTERNATIONAL UNIVERSITY</span> as an industry pioneer
                    gives direction to its students to grow as professionals, handle things with responsibility, and
                    produce
                    artwork
                    that has a major impact on our communities, our society, and the world.</p>
                <p><span class="highlight">CG INTERNATIONAL UNIVERSITY</span> is a not-for-profit
                    Institute that is underpinned by ethical professional and transparent e-governance, involving the
                    students
                    and
                    staff in the creation of a healthy, vibrant, and sustainable society.</p>
            </div>

    </div>
    <!-- END DATA -->
    {% include 'main_cg_site/global/footer.html' %}
</body>

</html>