<meta name="CG University"
    content="CG International University is a premier global institution renowned for delivering world-class education to students from every corner of the globe. With cutting-edge facilities, a diverse and accomplished faculty, and a vibrant student community, we offer an unparalleled learning experience. Our innovative curriculum, international partnerships, and commitment to academic excellence ensure that our graduates are well-prepared to excel in a rapidly evolving global landscape. Whether you're seeking undergraduate, graduate, or professional development programs, CG International University is your gateway to a brighter future, empowering you with the knowledge and skills to make a significant impact in your chosen field.">
<meta name="google-site-verification" content="BZYgvR6iGgyZqqh0DwVTDS2eM6Ups0p79PBXW8PIgvo" />
<meta name="geo.country" content="India">
<meta name="geo.position" content="23.204523, 77.435556">
<meta name="geo.region" content="IN">
<meta name="geo.placename" content="Raipur">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">