{% load static %}


<div>
    <script src="https://kit.fontawesome.com/e8b3146adc.js" crossorigin="anonymous"></script>
    <div class="admin-student-container">
        <div class="main-student-container-row">
            <h1>Student</h1>
            <div class="custom-cg-button">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="custom-cg-button">
                <i class="fa-solid fa-filter"></i>
            </div>
        </div>
    </div>
</div>