{% load static %} {% load livereload_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
  {% include 'global/meta_tags.html' %}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+z24d9KEUL8+5uFrtNQqD5gRxqJoZYyFjQ8CKOY" crossorigin="anonymous" />

  <link rel="stylesheet" href="{% static 'main_css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'main_css/approval.css' %}" />
  <title>Approval</title>
  <style>
    .card {
      padding: 20px;
      width: 250px !important;
      text-decoration: none;
    }
  </style>
</head>

<body>
  {% include 'main_cg_site/global/nav_bar.html' %}
  <div class="background-image">
    <div class="blurOverlay" style="padding: 80px 0px">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" style="width: 100%">
        <a href="https://www.aicte-india.org" target="_blank"
          class="card justify-content-center d-flex align-items-center" style="margin: 12px">
          <div class="d-flex flex-column align-items-center justify-content-center text-decoration-none">
            <h2>AICTE India</h2>
            <img src="{% static 'images/approval/aicte.png' %}" alt="" style="height: 100px !important; width: 100px" />
            <p class="approval-profile"></p>
            <p>https://www.aicte-india.org</p>
          </div>
        </a>
        <a href="https://www.ugc.ac.in" target="_blank" class="card justify-content-center d-flex align-items-center"
          style="margin: 12px">
          <div class="d-flex flex-column align-items-center justify-content-center text-decoration-none">
            <h2>UGC</h2>
            <img src="{% static 'images/approval/ugc_logo.png' %}" alt=""
              style="height: 100px !important; width: 100px" />
            <p class="approval-profile"></p>
            <p>https://www.ugc.ac.in</p>
          </div>
        </a>
        <a href="https://www.pci.nic.in" target="_blank" class="card justify-content-center d-flex align-items-center"
          style="margin: 12px">
          <div class="d-flex flex-column align-items-center justify-content-center text-decoration-none">
            <h2>PCI</h2>
            <img src="{% static 'images/approval/pci.png' %}" alt="" style="height: 100px !important; width: 100px" />
            <p class="approval-profile"></p>
            <p>https://www.pci.nic.in</p>
          </div>
        </a>
        <a href="https://www.mciindia.org" target="_blank" class="card justify-content-center d-flex align-items-center"
          style="margin: 12px">
          <div class="d-flex flex-column align-items-center justify-content-center text-decoration-none">
            <h2>MCI India</h2>
            <img src="{% static 'images/approval/mci.png' %}" alt="" style="height: 100px !important; width: 100px" />
            <p class="approval-profile"></p>
            <p>https://www.mciindia.org</p>
          </div>
        </a>
        <a href="https://www.icar.org.in" target="_blank" class="card justify-content-center d-flex align-items-center"
          style="margin: 12px">
          <div class="d-flex flex-column align-items-center justify-content-center text-decoration-none">
            <h2>ICAR</h2>
            <img src="{% static 'images/approval/icar1.png' %}" alt="" style="height: 100px !important; width: 100px" />
            <p class="approval-profile"></p>
            <p>www.icar.org.in</p>
          </div>
        </a>
        <a href="https://www.barcouncilofindia.org" target="_blank"
          class="card justify-content-center d-flex align-items-center" style="margin: 12px">
          <div class="d-flex flex-column align-items-center justify-content-center text-decoration-none">
            <h2>BCI India</h2>
            <img src="{% static 'images/approval/bci.png' %}" alt="" style="height: 100px !important; width: 100px" />
            <p class="approval-profile"></p>
            <p>www.barcouncilofindia.org</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  {% include 'main_cg_site/global/footer.html' %}
</body>

</html>