.approval-container {
  width: 10%;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

.approval-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 10%; */
  padding: 10px;
  font-size: 56px;
  text-align: center;
  color: rgb(255, 150, 13);
}

.row {
  display: flex;
  justify-content: center;
  /* width: 100% !important; */
  /* margin-bottom: 20px; */
}

.approval-card {
  background-color: rgb(206, 206, 206);
  border-radius: 12px;
  padding: 20px;
  margin: 10px;
}

.approval-card img {
  max-width: 10%;
  height: 100px;
}

.approval-card:hover {
  transform: translateY(-5px);
}

.approval-card h2 {
  margin-top: 0;
  color: #333333;
}
.approval-profile {
  font-weight: bold;
  color: #007bff;
}
.profession {
  color: #666666;
}

.overlayer {
  height: 70vh;
  max-width: 100%;
  backdrop-filter: blur(15px) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.approved-background-header-container {
  backdrop-filter: blur(20px) !important;
  background-size: cover;
  background-image: url("../images/login/login_background_image.jpg");
  background-position: bottom;
  height: 70vh !important;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
