{% load livereload_tags %}

<div class="dashboard-student-card">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
    <div class="student-card">
        <div class="student-name">Vishal</div>
        <div class="student-passion">Passion</div>
    </div>
    <div class="spacer"></div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" style="height: 20px; width: 20px">
        <path
            d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" />
    </svg>
</div>