.container-student {
  margin: 50px 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
  background: var(--bs-navbar-toggler-icon-bg) !important;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-content {
  background-color: #f8f9fa !important;
  /* Light grey background */
}

.modal-header,
.modal-footer {
  border: none;
  /* Remove border if desired */
}

.sidebar-student {
  background-color: #ffffff;
  padding: 20px;
}

.sidebar-student ul {
  list-style-type: none;
  padding: 0;
}

.student-nav-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  border-bottom: 1px solid #ccc;
}

.student-nav-item.active {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid rgb(255, 150, 13);
  background-color: rgb(255, 150, 13);
  color: white;
}


.sidebar-section {
  background-color: #f7f7f7;
  border-radius: 12px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.content {
  display: none;
}

.active {
  display: block;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.qr-code {
  text-align: center;
  margin-left: 50px;
}

.payment-info {
  text-align: center;
}

/* Crads */

.Cards {
  width: 20%;
  background-color: grey;
  border-radius: 5px;
  margin: 40px;
}

.image {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  text-align: center;
}

.des {
  text-align: center;
}