{% load static %}
{% load livereload_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-custom {
            background-color: rgb(255, 150, 13);
            border-color: rgb(255, 150, 13);
            color: white;
        }

        .btn-custom-lighter {
            background-color: rgba(255, 150, 13, 0.5);
            border-color: rgba(255, 150, 13, 0.5);
        }

        /* .required-field {
            color: red;
        } */

        /* Add pointer cursor to table rows */
        tbody tr:hover {
            cursor: pointer;
        }

        /* Highlight selected row */
        .selected {
            background-color: rgba(255, 150, 13, 0.1);
        }

        .required-field-name::after {
            content: " *";
            color: red;
        }

        .add-button-container {
            position: relative;
        }

        .add-button {
            position: absolute;
            top: 10px;
            /* Adjust as needed */
            right: 10px;
            /* Adjust as needed */
        }

        table,
        select,
        th {
            font-size: smaller;
        }
    </style>
</head>

<body>
    <div class="p-5">
        <div style="display: flex;
                flex-direction: row;
                justify-content: space-between;">
            <h1>{{ center_name }}</h1>
            <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#editModal">
                Add Student
            </button>
        </div>

        {% if is_logged_in %}
        <!-- <h6>Student {{students}}</h6> -->

        <table class="table table-bordered table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 200px;">
                        Enrollment No.
                        <select style="font-size: small;" class="form-control" onchange="filterTable(0, this.value)">
                            <option value="">Filter</option>
                            {% for data in students|dictsort:"enrollment_no" %}
                            <option>{{ data }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Name
                        <select style="font-size: small;" class=" form-control" onchange="filterTable(1, this.value)">
                            <option value="">No filter</option>
                            {% for data in students %}
                            <option>{{ data.student_personal_info.full_name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Father Name
                        <select style="font-size: small;" class="form-control" onchange="filterTable(2, this.value)">
                            <option value="">Filter</option>
                            {% for data in students %}
                            <option>{{ data.student_personal_info.father_name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Mother Name
                        <select style="font-size: small;" class="form-control" onchange="filterTable(3, this.value)">
                            <option value="">Filter</option>
                            {% for data in students %}
                            <option>{{ data.student_personal_info.mother_name }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Gender
                        <select style="font-size: small;" class="form-control" onchange="filterTable(4, this.value)">
                            <option value="">Filter</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </th>
                    <th>DOB
                        <select style="font-size: small;" class="form-control" onchange="filterTable(5, this.value)">
                            <option value="">Filter</option>
                            {% for data in students %}
                            <option>{{ data.student_personal_info.date_of_birth }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Category
                        <select style="font-size: small;" class="form-control" onchange="filterTable(6, this.value)">
                            <option value="">Filter</option>
                            {% for data in students %}
                            <option>{{ data.student_personal_info.category }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Email
                        <select style="font-size: small;" class="form-control" onchange="filterTable(7, this.value)">
                            <option value="">Filter</option>
                            {% for data in students %}
                            <option>{{ data.student_personal_info.email }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Mobile No.
                        <select style="font-size: small;" class="form-control" onchange="filterTable(8, this.value)">
                            <option value="">Filter</option>
                            {% for data in students %}
                            <option>{{ data.student_personal_info.mobile_number }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>Address
                        <select style="font-size: small;" class="form-control" onchange="filterTable(9, this.value)">
                            <option value="">Filter</option>
                            {% for data in students %}
                            <option>{{ data.student_personal_info.address }}</option>
                            {% endfor %}
                        </select>
                    </th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                {% for data in students %}
                <tr>
                    <td>{{ data.student_personal_info.enrollment_no }}</td>
                    <td>{{ data.student_personal_info.full_name }}</td>
                    <td>{{ data.student_personal_info.father_name }}</td>
                    <td>{{ data.student_personal_info.mother_name }}</td>
                    <td>{{ data.student_personal_info.gender }}</td>
                    <td>{{ data.student_personal_info.date_of_birth }}</td>
                    <td>{{ data.student_personal_info.category }}</td>
                    <td>{{ data.student_personal_info.email }}</td>
                    <td>{{ data.student_personal_info.mobile_number }}</td>
                    <td>{{ data.student_personal_info.address }}</td>
                    <td>
                        <a class="btn btn-primary"
                            href="{% url 'view-student'  %}?id={{ data.student_personal_info.enrollment_no }}&token={{ token }}&cId={{ center_id }}">View</a>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>

        <div class=" text-center">
            <button class="btn btn-custom" onclick="prevPage()">Previous</button>
            <span id="page-numbers"></span>
            <button class="btn btn-custom" onclick="nextPage()">Next</button>
        </div>
    </div>


    {% else %}
    <p>Please log in to view the content.</p>
    {% endif %}
    </div>


    <!-- Pop Up -->

    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-full" style="min-width: 90%;" role="document">
            <div class="modal-content" style="border-radius: 22px;">
                <div class="modal-header bg-primary text-white" style="border-radius: 20px 20px 0px 0px; ">
                    <h5 class="modal-title" id="editModalLabel">Add Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding: 20px 40px;">
                    <!-- CSRF token -->
                    {% csrf_token %}
                    <input type="hidden" name="enrollment_no" value="{{ student.enrollment_no }}">

                    <!-- Personal Details -->
                    <h4>Student Personal Details </h4>
                    <hr class="my-4">
                    <div class="row">
                        <div class="form-group">
                            <label for="enrollment_no" class="required-field-name">Enrollment No.</label>
                            <input type="text" style="max-width: 300px;" class="form-control required-field"
                                value="{{ student.enrollment_no }}" id="enrollment_no" name="enrollment_no">
                        </div>
                        <div class="form-group">
                            <label for="profile_pic" class="required-field-name">Profile Pic Upload</label>
                            <input type="file" class="form-control-file required-field" id="profile_pic"
                                name="profile_pic" required>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="full_name" class="required-field-name">Full Name</label>
                                <input type="text" class="form-control required-field" id="full_name" name="full_name"
                                    required>
                                <div class="error-message" id="semester-error"></div>

                            </div>
                            <div class="form-group">
                                <label for="father_name" class="required-field-name">Father's Name</label>
                                <input type="text" class="form-control required-field" id="father_name"
                                    name="father_name" required>
                            </div>
                            <div class="form-group">
                                <label for="mother_name" class="required-field-name">Mother's Name</label>
                                <input type="text" class="form-control required-field" id="mother_name"
                                    name="mother_name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date_of_birth" class="required-field-name">Date of Birth</label>
                                <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="category" class="required-field-name">Category</label>
                                <input type="text" class="form-control required-field" id="category" name="category"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="gender" class="required-field-name">Gender</label>
                                <input type="text" class="form-control required-field" id="gender" name="gender"
                                    required>
                            </div>

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email" class="required-field-name">Email</label>
                                <input type="email" class="form-control required-field" id="email" name="email"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="mobile_number" class="required-field-name">Mobile Number</label>
                                <input type="tel" class="form-control required-field" id="mobile_number"
                                    name="mobile_number" required>
                            </div>
                            <div class="form-group">
                                <label for="address" class="required-field-name">Address</label>
                                <textarea class="form-control required-field" id="address" name="address" rows="3"
                                    required></textarea>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">
                        <h6 id="error-message"></h6>
                        <button id="add-student" type="button" class="btn btn-primary"
                            onclick="extractAndDisplayData(event)">Add Student</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>

            function cancelUpdate(enrollmentNo) {
                $('.modal-backdrop').remove();
            }

            async function extractAndDisplayData(event) {
                event.preventDefault();
                const requiredFields = Array.from(document.querySelectorAll(".required-field")).reverse();

                // Check for empty fields and format their names
                const emptyField = requiredFields.find(field => field.value.trim() === "");
                if (emptyField) {
                    const capitalized = emptyField.name.replace(/_/g, ' ').replace(/\b\w/g, char => char.toUpperCase()).replace(/\s+/g, ' ');
                    alert("Required Field is empty: " + capitalized);
                    return;
                }

                const studentUrl = "{{ api_url }}students/";
                const refreshToken = "{{ api_url }}"
                const token = localStorage.getItem('token');

                // Collect student personal info
                const studentInfo = {
                    "center_id": "{{ center_id }}",
                    "enrollment_no": document.querySelector('#enrollment_no').value,
                    "profile_pic": document.querySelector('#profile_pic').files[0],
                    "full_name": document.querySelector('#full_name').value,
                    "password": document.querySelector('#date_of_birth').value,
                    "father_name": document.querySelector('#father_name').value,
                    "mother_name": document.querySelector('#mother_name').value,
                    "gender": document.querySelector('#gender').value,
                    "date_of_birth": document.querySelector('#date_of_birth').value,
                    "category": document.querySelector('#category').value,
                    "email": document.querySelector('#email').value,
                    "mobile_number": document.querySelector('#mobile_number').value,
                    "address": document.querySelector('#address').value,
                    "list_of_integers": [],
                };

                // Construct FormData object
                const studentFormData = new FormData();
                Object.entries(studentInfo).forEach(([key, value]) => studentFormData.append(key, value));

                try {
                    const response = await fetch(studentUrl, {
                        method: 'POST',
                        headers: {
                            'Authorization': `Bearer ${token}`
                        },
                        body: studentFormData,
                    });

                    if (!response.ok) {
                        // Handle non-200 responses
                        const error_message = await response.text(); // Extract error message from response
                        document.getElementById("error-message").innerText = token;
                        throw new Error('Network response was not ok');
                    }

                    const data = await response.json();
                    console.log('Response from server:', data);

                    // Dismiss the modal after successful submission
                    const addStudent = document.getElementById("add-student");
                    addStudent.setAttribute("data-dismiss", "modal");

                } catch (error) {
                    // Handle fetch errors
                    document.getElementById("error-message").innerText = token;
                    console.error('There was a problem with the fetch operation:', error);
                }
            }

            function filterTable(columnIndex, filterValue) {
                var table = document.querySelector('.table');
                var rows = table.getElementsByTagName('tr');
                for (var i = 1; i < rows.length; i++) {
                    var cells = rows[i].getElementsByTagName('td');
                    var cell = cells[columnIndex];
                    if (typeof filterValue !== 'undefined' && filterValue.trim() === cell.textContent.trim() || filterValue === "") {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }

            var currentPage = 0;
            var rowsPerPage = 10;

            function showRows() {
                var table = document.querySelector('.table');
                var tr = table.getElementsByTagName('tr');
                var startIndex = currentPage * rowsPerPage + 1;
                var endIndex = (currentPage + 1) * rowsPerPage + 1;
                for (var i = 1; i < tr.length; i++) {
                    if (i >= startIndex && i < endIndex) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

            function prevPage() {
                if (currentPage > 0) {
                    currentPage--;
                    showRows();
                    updatePageNumbers();
                }
            }

            function nextPage() {
                var table = document.querySelector('.table');
                var tr = table.getElementsByTagName('tr');
                var totalPages = Math.ceil((tr.length - 1) / rowsPerPage);
                if (currentPage < totalPages - 1) {
                    currentPage++;
                    showRows();
                    updatePageNumbers();
                }
            }

            function updatePageNumbers() {
                var table = document.querySelector('.table');
                var tr = table.getElementsByTagName('tr');
                var totalPages = Math.ceil((tr.length - 1) / rowsPerPage);
                var pageNumbers = document.getElementById("page-numbers");
                pageNumbers.innerHTML = "";

                var startPage = 0;
                var endPage = totalPages - 1;
                if (totalPages > 5) {
                    startPage = Math.max(currentPage - 2, 0);
                    endPage = Math.min(currentPage + 2, totalPages - 1);
                    if (endPage - startPage < 4) {
                        if (startPage === 0) {
                            endPage = Math.min(startPage + 4, totalPages - 1);
                        } else {
                            startPage = Math.max(endPage - 4, 0);
                        }
                    }
                    if (startPage > 0) {
                        pageNumbers.appendChild(createPageNumberButton(0));
                        if (startPage > 1) {
                            pageNumbers.appendChild(createEllipsis());
                        }
                    }
                }

                for (var i = startPage; i <= endPage; i++) {
                    pageNumbers.appendChild(createPageNumberButton(i));
                }

                if (endPage < totalPages - 1) {
                    if (endPage < totalPages - 2) {
                        pageNumbers.appendChild(createEllipsis());
                    }
                    pageNumbers.appendChild(createPageNumberButton(totalPages - 1));
                }
            }

            function createPageNumberButton(page) {
                var button = document.createElement("button");
                button.className = "m-1 btn btn-secondary";
                button.textContent = page + 1;
                if (page === currentPage) {
                    button.classList.add("active");
                }
                button.onclick = function () {
                    currentPage = page;
                    showRows();
                    updatePageNumbers();
                };
                return button;
            }

            // Function to create an ellipsis element
            function createEllipsis() {
                var ellipsis = document.createElement("span");
                ellipsis.textContent = "...";
                return ellipsis;
            }

            showRows();
            updatePageNumbers();
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
        `
</body>

</html>