{% load static %}

{% load livereload_tags %}

<!DOCTYPE html>
{% livereload_script %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'main_css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'admin_css/admin_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'admin_css/admin_student.css' %}">
    <link rel="stylesheet" href="{% static 'admin_css/admin_settings.css' %}">
    <link rel="stylesheet" href="{% static 'admin_css/admin_center.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'main_css/style.css' %}"> -->

    <title>Document</title>
</head>

<body>
    {% include 'main_cg_site/global/nav_bar.html' %}
    <section class="mt-auto">
        <section class="side-nav-bar col-md-3">
            <script src="{% static 'scripts/admin_js/admin.js' %}" defer></script>
            <ul class="list-unstyled">
                <h3>CG University</h3>
                <li class="tab-side-nav-bar p-60" onclick="changeContent(1)">Dashboard</li>
                <li class="tab-side-nav-bar" onclick="changeContent(2)">Student</li>
                <li class="tab-side-nav-bar" onclick="changeContent(3)">Center</li>
                <li class="tab-side-nav-bar" onclick="changeContent(4)">All</li>
            </ul>
            <ul class="list-unstyled mt-auto">
                <li class="tab-side-nav-bar" onclick="changeContent(5)">Setting</li>
                <li>Logout</li>
            </ul>
        </section>

        <section class="main-content-section col-md-9">
            <div id="Dashboard" class="main-sub-section">
                {% include 'admin_cg_site/admin_sections/admin_dashboard.html' %}
            </div>
            <div id="Student" class="main-sub-section active">
                {% include 'admin_cg_site/admin_sections/admin_student.html' %}
            </div>
            <div id="Center" class="main-sub-section">
                {% include 'admin_cg_site/admin_sections/admin_center.html' %}
            </div>
            <div id="All" class="main-sub-section">All</div>
            <div id="Settings" class="main-sub-section">
                {% include 'admin_cg_site/admin_sections/admin_settings.html' %}
            </div>
        </section>
    </section>
</body>

</html>