{% load static %}
{% load livereload_tags %}

<!DOCTYPE html>
{% livereload_script %}
<html lang="en">

<head>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">
    <meta name="google-site-verification" content="BZYgvR6iGgyZqqh0DwVTDS2eM6Ups0p79PBXW8PIgvo" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <title>Admin Dashboard</title>
</head>

<body>
    {% include 'main_cg_site/global/nav_bar.html' %}
    <section class="pt-5 bg-light border">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">Home</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages"
                    type="button" role="tab" aria-controls="messages" aria-selected="false">Students</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                    role="tab" aria-controls="settings" aria-selected="false">Settings</button>
            </li>
            <div class="ml-auto">
                <li class="nav-item" role="presentation">
                    <form class="content" action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="nav-link" type="submit" id="logout-button" type="button">Logout</button>
                        <!-- <button type="submit" class="btn btn-primary">Logout</button> -->
                    </form>
                </li>
            </div>
        </ul>




        <div class="tab-content">
            <div class="tab-pane " id="home" role="tabpanel" aria-labelledby="home-tab">
                {% include 'admin_cg_site/admin_sections/admin_dashboard.html' %}
            </div>
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% include 'admin_cg_site/admin_sections/admin_center.html' %}
            </div>
            <div class="tab-pane active" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                {% include 'admin_cg_site/admin_sections/admin_student.html' %}
            </div>
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                {% include 'admin_cg_site/admin_sections/admin_settings.html' %}
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    </section>
    <script>
        localStorage.setItem('token', '{{ token }}');
    </script>

</body>

</html>