{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Student</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 60px;
            margin-bottom: 60px;
        }

        table {
            font-size: smaller;
        }

        .required-field-name::after {
            content: " *";
            color: red;
        }

        .avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
        }

        .avatar img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>

<body>

    {% include 'main_cg_site/global/nav_bar.html' %}


    <div class="container">
        <h1>Edit Student {{data.enrollment_no}}</h1>
        <div id="edit_card_{{ student.enrollment_no }}" style="display: block;">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Update Student Details
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="enrollment_no" value="{{ student.enrollment_no }}">
                        <div class="container mt-5">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="avatar mx-auto d-flex justify-content-center">
                                        <img src="{{ student.profile_pic }}" alt="Profile Picture"
                                            onerror="this.onerror=null;this.src='https://t3.ftcdn.net/jpg/01/87/10/40/360_F_187104027_8i2JbFDBB5jB7R65Ce464yRs4gfNbR3Z.jpg';">
                                    </div>
                                    <div style="height: 20px;"></div>
                                    <div class="form-group">
                                        <input type="file" class="form-control-file" id="profile_pic" name="profile_pic"
                                            value="{{ student.profile_pic }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h2>Personal Details</h2>
                        <h6>Student {{student.center_id}}</h6>

                        <hr class="my-4">
                        <div class="divider w-100%"></div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="required-field-name" for="enrollment_no">Enrollment No.</label>
                                    <input type="text" class="form-control required-field"
                                        value="{{ student.enrollment_no }}" id="enrollment_no" name="enrollment_no">
                                </div>
                                <div class="form-group">
                                    <label class="required-field-name" for="full_name">Full Name</label>
                                    <input type="text" class="form-control required-field" id="full_name"
                                        name="full_name" value="{{ student.full_name }}">
                                </div>
                                <div class="form-group">
                                    <label class="required-field-name" for="father_name">Father's Name</label>
                                    <input type="text" class="form-control required-field" id="father_name"
                                        name="father_name" value="{{ student.father_name }}">
                                </div>
                                <div class="form-group">
                                    <label class="required-field-name" for="mother_name">Mother's Name</label>
                                    <input type="text" class="form-control required-field" id="mother_name"
                                        name="mother_name" value="{{ student.mother_name }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="required-field-name" for="date_of_birth">Date of Birth</label>
                                    <input type="date" class="form-control required-field" id="date_of_birth"
                                        name="date_of_birth" value="{{ student.date_of_birth }}">
                                </div>
                                <div class="form-group">
                                    <label class="required-field-name" for="gender">Gender</label>
                                    <input type="text" class="form-control required-field" id="gender" name="gender"
                                        value="{{ student.gender }}">
                                </div>
                                <div class="form-group">
                                    <label class="required-field-name" for="category">Category</label>
                                    <input type="text" class="form-control required-field" id="category" name="category"
                                        value="{{ student.category }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="required-field-name" for="email">Email</label>
                                        <input type="email" class="form-control required-field" id="email" name="email"
                                            value="{{ student.email }}">
                                    </div>
                                    <label class="required-field-name" for="mobile_number">Mobile Number</label>
                                    <input type="tel" class="form-control required-field" id="mobile_number"
                                        name="mobile_number" value="{{ student.mobile_number }}">
                                </div>

                                <div class="form-group">
                                    <label class="required-field-name" for="address">Address</label>
                                    <textarea class="form-control required-field" id="address" name="address"
                                        rows="3">{{ student.address }}</textarea>
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">
                        <h3>Marksheets</h3>
                        <hr class="my-4">

                        {% if marksheet_data %}
                        {% for data in marksheet_data %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="required-field-name" for="session">Session</label>
                                        <input type="text" class="form-control required-field" id="session"
                                            name="session" value="{{ data.session }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="required-field-name" for="semester">Semester</label>
                                        <input type="text" class="form-control required-field" id="semester"
                                            name="semester" value="{{ data.semester }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="required-field-name" for="sgpa">SGPA</label>
                                        <input type="text" class="form-control required-field" id="sgpa" name="sgpa"
                                            value="{{ data.sgpa }}">
                                    </div>
                                    <div class="form-group">
                                        <label class="required-field-name" for="status">Status</label>
                                        <input type="text" class="form-control required-field" id="status" name="status"
                                            value="{{ data.status }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="required-field-name" for="result">Result</label>
                                    <input type="text" class="form-control required-field" id="result" name="result"
                                        value="{{ data.result }}">
                                </div>
                                <div class="form-group d-block">
                                    <img src="{{ data.file }}" class="w-20% rounded p-1" style="width: 25%;"
                                        alt="No Image">
                                    <label class="required-field-name" for="marksheet">Marksheet Upload</label>
                                    <input type="file" value="{{ data.file }}" class="form-control-file" id="marksheet"
                                        name="marksheet">
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <hr class="my-4">
                        <h2>Documents</h2>
                        <hr class="my-4">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {% if student_data.student_migrations %}
                                    <img src="{{ student_data.student_migrations }}" class="w-20% rounded p-1"
                                        style="width: 38%;" alt="No">
                                    {% else %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                        class="w-20% rounded p-1" style="width: 50%;" alt="No">
                                    {% endif %}
                                    <label for="migration">Migration Upload</label>
                                    <input type="file" value="{{ student_data.student_migrations }}"
                                        class="form-control-file" id="migration" name="migration">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {% if student_data.student_provision %}
                                    <img src="{{ student_data.student_provision }}" class="w-20% rounded p-1"
                                        style="width: 38%;" alt="No">
                                    {% else %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                        class="w-20% rounded p-1" style="width: 50%;" alt="No">
                                    {% endif %}

                                    <label for="provision">Provision Upload</label>
                                    <input type="file" value="{{ student_data.student_provision }}"
                                        class="form-control-file" id="provision" name="provision">
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {% if student_data.student_affidevit %}
                                    <img src="{{ student_data.student_affidevit }}" class="w-20% rounded p-1"
                                        style="width: 38%;" alt="No">
                                    {% else %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                        class="w-20% rounded p-1" style="width: 50%;" alt="No">
                                    {% endif %}

                                    <label for="affidevit">Affidevit Upload</label>
                                    <input type="file" value="{{ student_data.student_affidevit }}"
                                        class="form-control-file" id="affidevit" name="affidevit">
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    {% if student_data.student_admit_card %}
                                    <img src="{{ student_data.student_admit_card }}" class="w-20% rounded p-1"
                                        style="width: 38%; " alt="No">
                                    {% else %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                        class="w-20% rounded p-1" style="width: 50%;" alt="No">
                                    {% endif %}
                                    <label for="admin_card">Admit Card Upload</label>
                                    <input type="file" value="{{ student_data.student_admit_card }}"
                                        class="form-control-file" id="admin_card" name="admin_card">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    {% if student_data.student_degree %}

                                    <img src="{{ student_data.student_degree }}" class="w-20% rounded p-1"
                                        style="width: 38%;" alt=" No">

                                    {% else %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg"
                                        class="w-20% rounded p-1" style="width: 50%;" alt="No">
                                    {% endif %}
                                    <label for="degree">Degree Upload</label>
                                    <input type="file" value="{{ student_data.student_degree }}"
                                        class="form-control-file" id="degree" name="degree">
                                </div>
                            </div>
                        </div>
                        <hr class="my-4">
                        <button class="btn btn-primary" onclick="sendFormDataToAPI(event)">Update</button>
                        <button type="button" class="btn btn-secondary"
                            onclick="cancelUpdate('{{ student.enrollment_no }}')">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Preview Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="{{ student_data.student_provision.url }}" class="img-fluid" alt="Preview Image">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {% include 'main_cg_site/global/footer.html' %}

    <script>

        document.addEventListener("DOMContentLoaded", function () {
            event.preventDefault();
            // sendFormDataToAPI();
        });

        function cancelUpdate(enrollmentNo) {
            window.history.back();
        }

        async function sendFormDataToAPI(event) {
            console.log("Sending form data to API...");
            event.preventDefault();

            // Select required fields and reverse them
            // const requiredFields = Array.from(document.querySelectorAll(".required-field")).reverse();

            // // Check for empty fields and format their names
            // let emptyField = requiredFields.find(field => field.value.trim() === "");
            // if (emptyField) {
            //     let capitalized = emptyField.name.replace(/_/g, '').replace(/\b\w/g, char => char.toUpperCase()).replace(/\s+/g, ' ');
            //     alert("Required Field is empty: " + capitalized);
            //     return;
            // }

            // API URLs and tokens
            const apiUrl = "{{ api_url }}";
            const marksheets = JSON.parse("{{ student.list_of_integers }}");
            const enrollment_no = document.querySelector('input[name="enrollment_no"]').value;

            const studentInfoUrl = `${apiUrl}students/${enrollment_no}/`;
            const studentDataUrl = `${apiUrl}student-data/${enrollment_no}/`;
            const studentMarksheetUrl = `${apiUrl}marksheets/${marksheet[0]}/`;

            const token = localStorage.getItem('token');
            const cId = localStorage.getItem('cId');

            // Collect data
            const personalDetails = {
                'center_id': `{{ student.center_id }}`,
                'username': enrollment_no,
                'enrollment_no': enrollment_no,
                'password': document.querySelector('input[name="date_of_birth"]').value,
                'full_name': document.querySelector('input[name="full_name"]').value,
                'father_name': document.querySelector('input[name="father_name"]').value,
                'mother_name': document.querySelector('input[name="mother_name"]').value,
                'gender': document.querySelector('input[name="gender"]').value,
                'date_of_birth': document.querySelector('input[name="date_of_birth"]').value,
                'category': document.querySelector('input[name="category"]').value,
                'email': document.querySelector('input[name="email"]').value,
                'mobile_number': document.querySelector('input[name="mobile_number"]').value,
                'address': document.querySelector('textarea[name="address"]').value
            };

            console.log(personalDetails);

            const profilePicFile = document.querySelector('input[name="profile_pic"]').files[0];
            if (profilePicFile) {
                personalDetails.profile_pic = profilePicFile;
            }

            currentFile = "{{ marksheet_data.0.file }}";


            const marksheet = {
                'student_enrollment_no': enrollment_no,
                'session': document.querySelector('input[name="session"]').value,
                'semester': document.querySelector('input[name="semester"]').value,
                'sgpa': document.querySelector('input[name="sgpa"]').value,
                'status': document.querySelector('input[name="status"]').value,
                'result': document.querySelector('input[name="result"]').value,
                'file': document.querySelector('input[name="marksheet"]').files[0] || currentFile,
            };

            console.log(marksheet);

            const documentUploads = {
                'student_enrollment_no': enrollment_no,
                'student_migrations': document.querySelector('input[name="migration"]').files[0] || null,
                'student_provision': document.querySelector('input[name="provision"]').files[0] || null,
                'student_affidevit': document.querySelector('input[name="affidevit"]').files[0] || null,
                'student_degree': document.querySelector('input[name="degree"]').files[0] || null,
                'student_admit_card': document.querySelector('input[name="admin_card"]').files[0] || null
            };

            console.log(documentUploads);

            const fetchWithAuth = async (url, method, body, isJson = false) => {
                const headers = {
                    'Authorization': `Bearer ${token}`,
                    ...(isJson && { 'Content-Type': 'application/json' })
                };

                const response = await fetch(url, { method, headers, body });
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            };

            try {
                // Update student info
                const studentFormData = new FormData();
                Object.entries(personalDetails).forEach(([key, value]) => studentFormData.append(key, value));
                await fetchWithAuth(studentInfoUrl, 'PUT', studentFormData);
                console.log('Student info updated successfully');

                // Update student documents
                const studentDataFormData = new FormData();
                Object.entries(documentUploads).forEach(([key, value]) => {
                    if (value) studentDataFormData.append(key, value);
                });
                await fetchWithAuth(studentDataUrl, 'PATCH', studentDataFormData);
                console.log('Student documents updated successfully');

                // Update student marksheet
                const marksheetData = new FormData();
                Object.entries(marksheet).forEach(([key, value]) => marksheetData.append(key, value));
                await fetchWithAuth(studentMarksheetUrl, 'PATCH', marksheetData);
                console.log('Student marksheet updated successfully');

                // Reload page after successful updates
                // window.location.reload();
            } catch (error) {
                console.error('Error:', error);
            }
        }
    </script>

    <!-- Bootstrap JS -->

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
</body>

</html>